body { 
   font-family: Arial, sans-serif;
   padding: 0;
   margin: 0;
   color: #222222;
}

.contacts {
   text-align: center;
   margin-top: 10px;
   margin-bottom: -85px;
}

.clearfix:after {
     content:'';
     display: table;
     width: 100%;
     clear: both;
}


div {
    box-sizing: border-box;
}



header {
	background: url(../img/car.png) no-repeat center top / cover;
        padding-bottom: 160px;
}

.container {
   width: 930px;
   margin: 0 auto;
}
nav {
  float: right;
  margin-top: 45px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}

.menu li a {
   color: #fff;
   text-decoration: none;
   text-trnsform: uppercase;
   font-size: 14px;
}

.info {
   text-align:center;
   margin-top: 1px;
}

.post {
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
    width: 750px;
    height: 500px;
    display: block;
}

.info {
     display: block;
     margin: 0 auto;
     margin-top: 15px;
     margin-bottom: 20px;     
}

h3 {
       color: #fff;
       text-align: center;
       margin-top: 180px;
       display: block;
       box-sizing: border-box;
       width: 930px;
       margin: 0 auto;
}


